<h1>Editing note</h1>

<%= form_for @note, url: room_study_session_note_path do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= link_to 'Show', room_study_session_notes_path(@note.study_session.room, @note.study_session, @note) %> |
  <%= link_to 'Back', room_study_session_notes_path %>
  <br/>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :summary %><br>
      <%= f.text_field :summary, :class => "string form-control" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="row">
    <div class="col-md-4">
      <br/>
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>
