<p id="notice"><%= notice %></p>

<p>
  <strong>Info In This Note:</strong>
  <%= @note.summary %>
  <%= image_tag @note.image.url %>
</p>

<%= link_to 'Edit', edit_room_study_session_note_path(@room, @study_session, @note) %> |
<%= link_to 'Back To The Study Session: ' + @study_session.name, room_study_session_path(@room, @study_session) %>
