<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true, :class => "string form-control" %>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-3">
	  <%= f.label :password %><br />
	  <%= f.password_field :password, :class => "string form-control" %>
  	</div>
  </div>
  <br/>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :class => "" %> <%= f.label :remember_me %></div>
  <% end -%>
  <br/>

  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
  <br/>
<% end %>

<%= render "users/shared/links" %>
