<h1>Editing study_session</h1>

<%= form_for @study_session, url: room_study_session_path do |f| %>
  <% if @study_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_session.errors.count, "error") %> prohibited this study_session from being saved:</h2>

      <ul>
      <% @study_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to 'Show', room_study_session_path(@study_session.room, @study_session) %> |
  <%= link_to 'Back', room_study_session_path(@study_session.room, @study_session) %>
  <br/>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :name %><br/>
      <%= f.text_field :name, :class => "string form-control" %><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :summary %><br/>
      <%= f.text_field :summary, :class => "string form-control" %><br/>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>
