<p id="notice"><%= notice %></p>

<h3>Study Session: <%= @study_session.name %></h3>
<h3>Study Subject: <%= @study_session.subject %></h3>
<p>
  <strong>Where: </strong>In room <%= link_to @study_session.room.room_number, @study_session.room %> in <%= link_to @study_session.room.building.name, @study_session.room.building %> at <%= link_to @study_session.room.building.school.name, @study_session.room.building.school %>
  <br/>
  <strong>When:  </strong><%= @study_session.meeting_time.strftime("%B %d, %Y, %I:%M %p") %>
  <br/>
  <strong>What:  </strong><%= @study_session.summary %>
  <br/>
  <br/>
</p>

Add a Note to This Study Session:
<p><%= link_to 'Create Note', new_room_study_session_note_path(@study_session.room, @study_session), :class => "btn btn-primary" %></p>

<%= will_paginate @notes, renderer: BootstrapPagination::Rails, class: "pull-right" %>
<table class="table table-hover table-responsive">

  <thead>
    <tr>
    <th>Note</th>
    <th>Author</th>
    <th>Edit</th>
    <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.summary, room_study_session_note_path(note.study_session.room, note.study_session, note) %></td>
      <td><%= note.user.email %></td>
      <td><%= link_to 'Edit', edit_room_study_session_note_path(note.study_session.room, note.study_session, note) %></td>
      <td><%= link_to 'Destroy',  room_study_session_note_path(note.study_session.room, note.study_session, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= image_tag note.image.url(:thumb) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @notes, renderer: BootstrapPagination::Rails, class: "pull-right" %>

<br/>

<%= link_to 'Edit Study Session', edit_room_study_session_path(@study_session.room, @study_session) %> |
<%= link_to 'Back To ' + @study_session.room.building.name + " " + @study_session.room.room_number, room_path(@study_session.room) %>
