<p id="notice"><%= notice %></p>

<h3>Study Session: <%= @study_session.name %></h3>
<p>In room <%= link_to @study_session.room.room_number, @study_session.room %> in <%= link_to @study_session.room.building.name, @study_session.room.building %> at <%= link_to @study_session.room.building.school.name, @study_session.room.building.school %></p>

<p>
  Summary of this study session:
  <br/>
  <%= @study_session.summary %>
</p>

<p style="color:red"> 
  Note to the team working on this website:<br/>
  Some more magic happens here. This is where people should be able to upload notes that they have created for this study session<br/>
  This will enable them to share and collaborate in there studing
  For now I will just give a link to create new notes for this study session:<%=  %>
</p>

<%= link_to 'Edit Study Session', edit_room_study_session_path(@study_session.room, @study_session) %> |
<%= link_to 'Back To ' + @study_session.room.building.name + " " + @study_session.room.room_number, room_path(@study_session.room) %>
