<div class="row">
  <div class="pull-left">
    <h3><%= @title %></h3>
  </div>
  <div class="pull-right">
    <br/>
      <% if @all and current_user %>
        <%= link_to "View Only Buildings at " + current_user.school.name, buildings_path, class: "btn btn-success" %>
      <% elsif current_user %>
        <%= link_to "View All Buildings", buildings_path(all: 'true'), class: "btn btn-success" %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <br/>
    <%= form_tag buildings_path, :method => 'get' do %>
      <div class="col-md-4">
        <%= text_field_tag :search, params[:search], class: "string form-control" %>
      </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
        <%= link_to "Reset", buildings_path, :method => 'get', class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= will_paginate @buildings, renderer: BootstrapPagination::Rails, class: "pull-right" %>
  </div>
</div>


<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= link_to building.name, building %></td>
        <td><%= link_to building.school.name, building.school %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @buildings, renderer: BootstrapPagination::Rails, class: "pull-right" %>

<br>

<%= link_to 'New Building', new_building_path, :class =>"btn btn-primary" %>
