<p id="notice"><%= notice %></p>

<h3>Rooms in <%= @building.name %> at <%= link_to @building.school.name, @building.school %></h3>

<div class="row">
  <div class="col-md-8">
    <br/>
    <%= form_tag building_path(@building), :method => 'get' do %>
      <div class="col-md-4">
        <%= text_field_tag :search, params[:search], class: "string form-control" %>
      </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
        <%= link_to "Reset", building_path(@building), :method => 'get', class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= will_paginate @rooms, renderer: BootstrapPagination::Rails, class: "pull-right" %>
  </div>
</div>

<table class="table table-hover table-responsive">

  <thead>
    <tr>
      <th>Room Number</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.room_number, room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rooms, renderer: BootstrapPagination::Rails, class: "pull-right" %>

<br/>



<%= link_to 'Edit Building', edit_building_path(@building) %> |
<%= link_to 'Back To Available ' + @building.school.name + ' Buildings', school_path(@building.school) %>
