<p id="notice"><%= notice %></p>

<h3>Room <%= @room.room_number %> in <%= link_to @room.building.name, @room.building %> at <%= link_to @room.building.school.name, @room.building.school %></h3>

Create New Study Session In This Room: 
<p><%= link_to 'Create Study Session', new_room_study_session_path(@room), :class =>"btn btn-primary" %><p/>

<table class="table table-hover table-responsive">

  <thead>
    <tr>
      <th>Study Session Name</th>
      <th>Summary</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @room.study_sessions.each do |study_session| %>
      <tr>
        <td><%= link_to study_session.name, room_study_session_path(study_session.room, study_session) %></td>
        <td><%= study_session.summary %></td>
        <td><%= link_to 'Edit', edit_room_study_session_path(study_session.room, study_session) %></td>
        <td><%= link_to 'Destroy',  room_study_session_path(study_session.room, study_session), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Edit Room', edit_room_path(@room) %> |
<%= link_to 'Back To Available ' + @room.building.name  + ' Rooms', building_path(@room.building) %>
