<p id="notice"><%= notice %></p>

<h3>Room <%= @room.room_number %> in <%= link_to @room.building.name, @room.building %> at <%= link_to @room.building.school.name, @room.building.school %></h3>

<p>
This is where some of the magic starts happening. From here we need to list of available times for this room, maybe in an easy to understand calender format, also we will need to be able to get to the create new study session screen from here etc...
<br/>
<br/>
For now I will just put a link:
<%= link_to 'Create New Study Session In This Room', new_room_study_session_path(@room) %>
<br/>
<br/>
</p>

<%= link_to 'Edit Room', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
