<%= form_for @school do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :name, "School Name" %><br/>
    <%= f.text_field :name %><br/><br/>

    <p>Add, Remove or Modify buildings at this school:</p>

    <%= f.fields_for :buildings do |builder | %>
      <%= render 'building_fields', :f => builder %>
    <% end %>

    <p><%= link_to_add_fields "Add Building", f, :buildings %></p>

    <%= f.submit %>

  </div>

<% end %>
