<p id="notice"><%= notice %></p>

<h3><%= @school.name %></h3>

<% @school.buildings.each do |building| %>
  <p><%= link_to building.name, building %></p>
<% end %>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
