<!DOCTYPE html>
<html>
<head>
  <title>StudyFinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <br/>

  <div class="row">

    <div class="col-md-2 pull-left">
      <%= link_to "Home", root_path, :method => :get, "class" => "btn btn-primary" %>
    </div>

    <div class="col-md-2 pull-left">
      <%= link_to "Schools", schools_path, :method => :get, "class" => "btn btn-primary" %>
    </div>

    <div class="col-md-2 pull-left">
      <%= link_to "Buildings", buildings_path, :method => :get, "class" => "btn btn-primary" %>
    </div>

    <div class="col-md-2 pull-left">
      <%= link_to "Rooms", rooms_path, :method => :get, "class" => "btn btn-primary" %>
    </div>

    <div class="col-md-2 pull-left">
      <%= link_to "Study Sessions", all_study_sessions_path, :method => :get, "class" => "btn btn-primary" %>
    </div>

    <% if not current_user %>
    <div class="col-md-2 pull-left">
      <%= link_to "Login", new_user_session_path, :method => :get, "class" => "btn btn-success btn-sm" %> |
      <%= link_to "Signup", new_user_registration_path, :method => :get, "class" => "btn btn-success btn-sm" %>
    </div>
    <% else %>
    <div class="col-md-2 pull-left">
      <%= current_user.email %>
      <br/>
      <%= link_to "Edit User Information", edit_user_registration_path, :method => :get, "class" => "btn btn-success btn-sm" %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete, "class" => "btn btn-danger btn-sm" %>
    </div>
    <% end %>
  </div>

  <br/>

  <div class="row">
    <% if notice %>
      <div class="col-md-12 alert alert-success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="col-md-12 alert alert-error">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

  </div>

  <%= yield %>
</div>

</body>
</html>
