<!DOCTYPE html>
<html>
<head>
  <title>StudyFinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <br/>

  <div class="row">
    <div class="col-md-6 pull-left">
      <%= link_to "Available Schools", schools_path, :method => :get %>
    </div>
    <% if not current_user %>
      <div class="pull-right">
        <%= link_to "Login", new_user_session_path, :method => :get %> |
        <%= link_to "Signup", new_user_registration_path, :method => :get %>
      </div>
    <% else %>
      <div class="pull-right">
        <%= current_user.email %> |
        <%= link_to "Edit User Information", edit_user_registration_path, :method => :get %> |
        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </div>
    <% end %>
  </div>

  <br/>

  <div class="row">
    <% if notice %>
      <div class="col-md-12 alert alert-success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="col-md-12 alert alert-error">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

  </div>

  <%= yield %>
</div>

</body>
</html>
